
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Trang chủ";
}
<h2 class="title text-center">Danh sách sản phẩm</h2>
    <!--features_items-->
    @Html.Action("BookPartial", "Book")


