
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Trang chủ";
}

        <!--features_items-->
        <h2 class="title text-center">Danh sách sản phẩm</h2>
        @Html.Action("BookPartial","Book")


