@using shopping.Models
@{
    foreach (var item in Model)
    {
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">

                <img src="~/Content/fontEnd/images/book/@item.book_Image" />
            </div>

        </div>
        <div class="text-center"><a href="@item.book_Slug">@item.book_Title</a>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Giá: @item.book_Price</a></li>
            </ul>

        </div>
    </div>
</div>

}
}