@model IEnumerable<shopping.Models.Book>

@{
    Layout = "";
}
@foreach (var item in Model) {
<div class="recommended_items">
    <!--recommended_items-->
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/fontEnd/images/book/@Html.DisplayFor(modelItem=>item.book_Image)" />
                                <h2>@Html.DisplayFor(modelItem=>item.book_Price)</h2>
                                <p class="textTransform">
                                    <a href="@Url.Action("Details", "Book", new { @id = item.book_Id })">@Html.DisplayFor(modelItem => item.book_Title)</a>
                                </p>
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Thêm vào giỏ hàng
                                </button>                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/recommended_items-->
}