@{
    if (@ViewBag.TotalNumber==null)
    {
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>(rỗng)</span>
    }
    else {         <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>(@ViewBag.TotalNumber)</span>
}

}